{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-card">
    <h2 class="text-center login-title mb-4">Iniciar sesión</h2>

    <form method="POST" action="{{ url_for('login') }}">
      <div class="form-group">
        <label for="usuario">Usuario:</label>
        <input type="text" class="form-control" name="usuario" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>
  </div>
</div>
{% endblock %}
